* {
  margin-top: 10px;
}
#wrapper {
  overflow: hidden;
  width: 100%;
  height: content;
}

h3 {
  margin-top: 15px;
  margin: 0 auto;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

#first-div-form {
  flex-grow: 1;
}

.input-range {
  margin-left: 25px;
  margin-top: 8px;
}

#plus-row {
  margin-right: 0px;
  margin-left: 10px;
}

textarea {
  width: 440px;
}

.block {
  padding: 10px 40px;
  margin: 10px 20px;
  background: grey;
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: none;
  transition-duration: 0.4s;
  display: block;
}

.button {
  background-color: #00d2ff;
  margin-top: 20px;
}

.long-range {
  width: 200px;
}

input:valid {
  background: lightgreen;
}

textarea:valid {
  background: lightgreen;
}

#formPost {
  display: block;
  padding: 10px 20px;
  margin: 20px 20px;
  color: blue;
  font-size: x-large;
}
