#root {
  display: flex;
  flex-direction: column;
}

#firstRow,
#secondRow {
  display: flex;
  flex-direction: row;
}

section {
  display: block;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 30%;
}

#secondRow {
  justify-content: flex-end;
}

#descrContainer {
  width: 50%;
}

#formContainer {
  display: none;
  width: 40%;
  margin-right: 50px;
}

.order {
  background: #008000 !important;
  font-size: large;
}
