#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

section {
  text-align: center;
  width: 40%;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  border-color: blue;
  border-style: double;
}

input {
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 6px;
  border-style: groove;
}

.block {
  padding: 10px 40px;
  margin: auto;
  margin-top: 20px;
  background: grey;
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: none;
  transition-duration: 0.4s;
  display: block;
}

.button-color {
  background-color: #00d2ff;
}
.button-color:hover {
  background-color: blue;
}

.show-comments {
  text-align: left;
  margin-left: 100px;
}

.write-obj {
  width: 40%;
  margin: 50px;
}
