* {
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  margin: 50px auto;
}
h1 {
  text-align: center;
  font-size: x-large;
  margin-bottom: 50px;
}

#formContainer {
  display: block;
  margin: 50px 50px;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  border-width: 3px;
  border-color: blue;
  border-style: double;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  font-weight: 400;
  font-size: large;
  text-align: left;
}
input {
  display: inline-block;
  width: 200px;
  margin-top: 25px;
  border-color: blue;
  border: radius 2px;
}
input[type="radio"] {
  width: 50px;
}
select,
textarea {
  display: inline-block;
  width: 200px;
  margin-top: 25px;
  border: 3px double blue;
  border-radius: 2px;
  resize: none;
}

.block {
  padding: 10px 40px;
  margin: 10px 40px;
  background: grey;
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: none;
  transition-duration: 0.4s;
  display: block;
}

.button {
  background-color: #00d2ff;
  margin-left: auto;
  margin-top: 30px;
  font-weight: bold;
}

#tableContainer {
  display: none;
  margin: 50px 50px;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  border-width: 3px;
  border-color: blue;
  border-style: double;
}

table {
  width: 100%;
  margin: 10px;
  border-collapse: collapse;
  border: 4px double blue;
}

th,
td {
  padding: 8px;
  border: 2px solid blue;
}

th:first-child,
td:first-child {
  width: 30%;
}

th:last-child,
td:last-child {
  width: 60%;
}
