#root {
  display: flex;
  flex-direction: column;
}

#catContainer,
section {
  display: block;
}

#accordion-container,
#formContainer {
  display: none;
}

.delete-button {
  display: block;
  font-size: bold;
  color: white;
  background: red;
  border-radius: 4px;
  width: 100px;
  text-align: center;
  margin-left: auto;

  &:hover {
    background: darkred;
  }
}

#firstRow,
#secondRow {
  display: flex;
  flex-direction: row;
}

section {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 30%;
}

#secondRow {
  justify-content: flex-end;
}

#descrContainer {
  width: 50%;
}

#formContainer {
  width: 40%;
  margin-right: 50px;
}

.order {
  background: #008000 !important;
  font-size: large;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

  &.active,
  &:hover {
    background-color: #ccc;
  }
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
